$primary: #0B2149;
$secondary: #A5A5A5;

$btn-border-radius: 10px;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/buttons";

