@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Staatliches&display=swap');


#body-pagina-n-encontrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 90vh;
    width: 100%;
}

#div-pagina-n-encontrada {
    display: flex;
    padding:24px;
    align-items:center;
}

#txt-pg-n-encontrada {
    font-size:5em;
    letter-spacing: .1em;
    color: #0B2149;
    opacity: .7;
    font-weight: bolder;
    font-family: 'Staatliches', cursive;
}


#txt-404 {
    font-family: 'Press Start 2P', cursive;
    font-size: 5em;
    margin-top: 0.5em;
    color: #F9A364;
    text-shadow: 2px 2px 3px black;
    
}